<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facanisme - Face Anime Recognition System</title>
    <link rel="stylesheet" href="style/styling.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <!-- Header Section -->
     <div class="header">
        <h1>Facanisme - Face Anime Recognition System</h1>
     </div>


    <!-- Main Section -->

    <!-- Drag & Drop Img Section -->

    <!-- Result Section -->


    <!-- Similar Anime Genre Based Section -->
    <script src="style/scripting.js"></script>
</body>
</html>